header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  left: 20px;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #000000;
  position: relative;
  text-align: center;
  left: 130px;
    
}

nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: #333;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #000000;
  border-bottom: 2px solid #000000;
  padding-bottom: 4px;
}
