@import url(./header.css);
@import url(./banner.css);
@import url(./sobreSalao.css);
@import url(./servico.css);
@import url(./forms.css);
@import url(./footer.css);
*{
    box-sizing: border-box;
}
body{
    background-color: lightpink;
    margin: 0;
    padding: 0;
}